@import "public";
$thispagewidth:1074px;
body{width:1366px; margin: 0 auto}
.content{min-width:$thispagewidth;
    .box{width: $thispagewidth; margin: 0 auto; overflow: hidden}
    .itemBg{background: url(img/item_bg.jpg) no-repeat center center;height: 427px;}
	.itemuBg{
		text-align: center;min-width:$thispagewidth;
		img{ margin: 0 auto; display: block;}
	
	}
	
    .itemTitle{ background:#454545; min-height: 98px;margin-bottom: 28px;
        
        h2{color: #fff;font-size: 24px; margin: 15px 0;padding: 0; line-height: 34px;}
        .address{font-size: 14px; float: right; text-align: left;color: #fff; font-weight: 800;line-height: 34px;margin: 15px 0 0 0;
            a{
                color: #fff;
                border-bottom: 1px solid #FFF;

            }
            i{
            background: url(img/map_icon.jpg) no-repeat right center;
                width: 16px;
                padding:10px 8px;
                margin: 0 4px;
            }
        }
    }
    .itemCon{
        margin-bottom: 100px;
        overflow: hidden;
    }
    .itemPics{
        margin-bottom: 28px;
        overflow: hidden;
        img{width: 179px;
            height: 102px;
            overflow: hidden;
            float: left;
            
        }
    }
    
   
    h3{
        color: #1c8fc3;
        font-size: 24px;
        font-weight: 800;
        line-height: 60px;
        margin: 28px 0 10px 0;
        clear: both;
    }
    
     .text{
        margin: 20px auto;
        font-size: 16px;
        h3{
            text-align: center;
            margin: 28px auto 5px auto;
            line-height: 30px;
            color: #333;
            
            em{
                font-size: 20px;
                display: block;
                font-style: normal;
                margin-bottom: 10px;
                
            }
        }
    }
    
    .textBox{
        background: #f5f5f5;
        border: 1px solid #c2c2c2;
        line-height: 24px;
        font-size: 14px;
        color: #454545;
        overflow: hidden;
        padding: 22px 24px;
        
        
        
        &.pt{
            padding: 0;
            
        
        dl{margin: 0;overflow: hidden;border-bottom: 1px solid #c2c2c2;padding: 22px 24px;
            display: none;
             &.show{display: block}
            &:last-child{ border-bottom: none}
            dt{width: 112px;float: left; text-align: right; font-size: 16px;line-height: 30px;}
            dd{margin:  0 0 0 136px; background: #ccc;
                p{margin: 0; display: none; float: left; width: 220px;font-size: 16px;line-height: 30px;
                    &.show{display: block}
                }
            }
        }
            
        }
    }
    
    .rooms{
            
        
            .room{
                width:252px;
                background: #f5f5f5;
                height: 390px;
                border: 1px solid #c2c2c2;
                float: left;
                margin-right: 19px;
                &:nth-child(1),&:nth-child(5),&:nth-child(9){margin-right: 20px}
                &:nth-child(4),&:nth-child(8),&:nth-child(12){margin-right: 0}
                img{
                    margin: 12px auto;
                    width:223px;
                    height: 133px;
                }
                p{ margin: 0;padding: 0 18px 0 24px; color: #7c7c7c; font-size: 14px; line-height: 30px; border-top: 1px solid #c2c2c2;
                    clear: both;
                    span{float: right}
                }
                .include{
                    padding: 0 18px 0 24px;color: #7c7c7c; font-size: 14px; line-height: 30px;height: 90px;overflow: hidden;background: #f5f5f5;width: 210px; left:-1px;
                    border: 1px solid #c2c2c2;position: relative;
                    &.show{height: auto;
                    }
                    .moreArr{ position: absolute;right:3px;top: 60px;
                        width:10px;height: 30px;
                        display: block;
                        font-weight: 800;
                        text-align: right;
                        color: #333;
                        @include transition(all 0.3s);
                        display: none;
                        &.show{
                            display: block;
                        }
                        &.deg{
                        @include transform(rotate(90deg));
                        }
                        &:after {
                              border: 6px solid transparent;
                              border-left: 8px solid #666;
                              width: 0;
                              height: 0;
                              left: 0;
                              top:9px;
                              position: absolute;
                              content: ' '
                        }
                    }
                    .con{float: right; width: 136px; text-align: right}
                }
                dl{
                
                }
                .name{
                   
                    color: #50afcd;
                    font-size: 18px;
                     border-top:none;
                    em{
                        font-style: normal;
                        font-size: 12px;
                        line-height: 16px;
                        display: block;
						height: 32px;
						overflow: hidden;
                        margin-top: 6px;
                        margin-bottom: 12px;
                    }
                }
            }
        }

    
}


.hidden {
	display : none;
}

